*{
  margin: 0;
  padding: 0;
}

:root{
  --bg-color: #24263b;
  --bg-orange: #fd7e14;
}

.navbar{
  position: absolute !important;
  background-color: var(--bg-color);
  width: fit-content;
  /* right: 0 !important; */
  left: 93%;
}

.container-fluid{
  justify-content: flex-end !important;
}

.navbar-toggler{
  background-color: var(--bg-orange);
}